%body
  #case.center-block
    #control
      #brand
        Sl
        %span.large
          m
        O
        %span.large
          n
        %span.tiny
          &#174;
        .detail
      #buttons
        .row
          .col.display
            #display
              #number 888
            .label
              COUNT
          .col.start
            #start.roundbtn.btn
            .label
              START
          .col.strict
            #strictlight.center-block
            #strict.roundbtn.btn
            .label
              STRICT
        .row.power
          %input.switch(type="checkbox" name="switch")
      
    #green.playbtn.btn
      .innerbutton
      .lightbulb
    #red.playbtn.btn
      .innerbutton
      .lightbulb
    #yellow.playbtn.btn
      .innerbutton
      .lightbulb
    #blue.playbtn.btn
      .innerbutton
      .lightbulb